.page {
  width: 100%;
}

.titleArea {
  width: min(1600px, calc(100% - 40px));
  margin: 60px auto 40px;
  text-align: center;

  p {
    font-size: 80px;
  }

  h2,
  span {
    font-size: 20px;
  }
  img{
    width: 6%;
    position: absolute;
    left: 56%;
    top: 17rem;
  }
}

@media (max-width: 399px) {
  .titleArea img {
    display: none;
  }
}
