.page {
  width: min(1200px, calc(100% - 32px));
  margin: 0 auto;
}

.box{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 5rem auto;
  p{
    font-size: 3.5rem;
  }
}