.root {
  width: min(1600px, calc(100% - 40px));
  margin: 0 auto;
  padding: 10px 0;
  display: flex;
  align-items: center;
  gap: 16px;
  font-size: 28px;
  font-weight: bold;
}

.select {
width: 200px;
  height: 40px;
  padding: 0 12px;

  appearance: none;
  -webkit-appearance: none;

  border: none;
  background: transparent;
  outline: none;
  font-size: 22px;
  cursor: pointer;
}

@media (max-width: 600px) {
  .root {
    width: calc(100% - 2rem);
    gap: .5rem;
    font-size: 1.35rem;
  }

  .select {
    width: auto;
    min-width: 0;
    padding: 0 .4rem;
    font-size: 1.1rem;
  }
}
